.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.visited-flags-container img {
    width: 120px;
    margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 476px) {
    .countries {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .countries {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
@media screen and (min-width: 769px) and (max-width: 900px) {
    .countries {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}